body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
}
h1 {
    text-align: center;
    font-family: cursive;
    font-size: 66px;
}
.simples {
    border: 2px solid black;
    margin: 50px;
    background-color: mediumslateblue;
    color: white;
}
.personalizada {
    border-top: 3px dotted green;
    border-right: 4px double red;
    border-bottom: 1px solid blueviolet;
    border-left: 16px solid orange;
    margin: 50px;
    background-color: lightgray;
    color: black;
}
.pizza {
    width: 150px;
    border-radius: 50%;
    border: 5px solid darkorange;
    margin-left: 50px;
}