.banner {
  width: 100%;
  height: 200px;
}

.banner {
  width: 100%;
  height: 200px;
}

.produto {
  width: 200px;
  height: 200px;
}

.banner {
  width: 100%;
  height: 200px;
}
