.container {
                    border: 1px solid #000;
                    width: 100%;
                    height: 80px;
                    display: flex;
                }
                .box01 {
                    background-color: blueviolet;
                }
                .box02{
                    background-color: cornflowerblue;
                }
                .box03 {
                    background-color: crimson;
                }
                div {
                    height: 50px;
                    width: 250px;
                    margin: 5px;    
                }