body {
    background-color: #314028;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.header  {
    font-size: 80px;
    text-align: center;
    margin: 200px 0 50px 0;
}
.header-title {
    color: #f39c12;
    font-weight: 900;
}
.subtitle {
    font-size: 20px;
    text-align: justify;
    margin: 100px auto;
    width: 80%;
}
.btn {
    padding: 20px 45px;
    background-color: darkorange;
    color: whitesmoke;
    font-weight: 700;
}
.box-btn {
    text-align: center;
    margin: 100px 0;
}