body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow: hidden; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10%;
    box-sizing: border-box;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    background-image: url('img/dogs.jpg'); 
    background-size: cover; 
    background-position: center;
    z-index: -1;
}

.content {
    color: #555;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}

h1 {
    font-size: 4em;
    margin-bottom: 0.2em;
    font-weight: normal;
}

p {
    font-size: 1.5em;
    margin-top: 0;
    line-height: 1.4;
}